[submodule "backend"]
	path = backend
	url = ssh://git@github.com:Zolske/Zoltans-Event-Manager-Backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:Zolske/Zoltans-Evant-Manager-Frontend.git
